.footer {
  width: 100%;
  background-color: #111111;
  padding: 40px 20px 20px 20px;
  font-family: sans-serif;
  margin-top: 72px;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}

.footer-comeco h2 {
  color: #fff;
  font-size: 26px;
  font-weight: 900;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.footer-comeco h2 span {
  color: #e4003a;
}

.footer-comeco p {
  color: #b9bec7;
  font-size: 14px;
  max-width: 390px;
  line-height: 1.5;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-width: 200px;
}

.footer-column h3 {
  color: #e4003a;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.footer-link {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #b9bec7;
  text-decoration: none;
  font-size: 14px;
  transition: all 0.3s ease;
}

.footer-link:hover {
  color: #fff;
  transform: translateY(-2px);
}


.footer-link.instagram-hover:hover {
  color: #f7507e;
}

.footer-link.whatsapp-hover:hover {
  color: #25d366;
}


.footer-bottom {
  max-width: 1200px;
  margin: 40px auto 0 auto;
  padding-top: 20px;
  border-top: 1px solid #222222;
  text-align: center;
}

.footer-bottom p {
  color: #555555;
  font-size: 12px;
}