.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, .8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal {
    background: #1d232a;
    width: 800px;
    max-width: 90%;
    padding: 24px;
    border-radius: 12px;
    color: white;
    position: relative;
    animation: aparecer 0.3s ease;
}

.img-container {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.img-container img {
    width: 220px;
    border-radius: 8px;
}

.fechar {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background-color: #5d6b7a;
    border-radius: 50px;
    transition: 0.2s;
}

.fechar:hover{
    background-color: #a20202;
}

.estrelas {
  display: flex;
  justify-content: center;
  gap: 4px;
  margin-top: 8px;
  color: gold;
}

@keyframes aparecer {
  from {
    opacity: 0;
    transform: scale(0.9) translateY(10px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}